/* Add styles for the side menu */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
}

.side-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.side-menu a:hover {
  background-color: #111;
}

/* Add styles for the main content */
.main-content {
  margin-left: 50px;
  margin-right: 50px;
  font-family:Arial, Helvetica, sans-serif;
}
.button {
  background-color: #b33e1d; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.search{
  padding: 15px;
  border-radius: 10px;
  border: none;
}
.header{
  display: flex;
  justify-content: space-around;
}

@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

.carrossel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #ECEFFC;
}

.carousel {
  position: relative;
  display: flex;
}

.slides {
  position: relative;
  top: -4em;
  left: 10em;
}

img {
  position: absolute;
  width: 450px;
  height: 450px;
  opacity: 0;
  z-index: 9999;
}
&.active {
  opacity: 1;
}
.overlays {
  position: relative;
  width: 36em;
  height: 18em;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bar-color);
  transform-origin: left;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 0 6em;
  list-style-type: none;
}
.nav-link {
  font-size: 2rem;
  font-family: Lora, serif;
  line-height: 2;
  text-decoration: none;
  color: #7f8c8d;
  transition: 0.3s;
}
&:hover {
  color: #1c1e1f;
}
&.active {
  color: black;
  pointer-events: none;
}
    
  

@media (max-width: 600px) {
  /* Make the side menu responsive */
  .side-menu {
    width: 100%;
    height: auto;
    position: static;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-content {
    margin-left: 0;
  }
}
